.input-container {
  padding: 24px 36px;
  display: flex;
  flex-direction: column;
}

.input-label {
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}

.tab-button {
  padding: 8px 12px;
  background: white;
  border: 1px solid #e0e0e0;
  border-bottom: 0px;
  cursor: pointer;
}

.active {
  background: #eee;
  font-weight: 600;
}

.input-area {
  width: 100%;
  border: 1px solid #d0d0d0;
  padding: 24px;
  box-sizing: border-box;
  resize: none;
  color: green;
  outline: none;
}
